# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
/fabric/run/
/neoforge/runs/
/neoforge/run/
/forge/
neoforge/logs/latest.log
common/src/main/java/com/mrcrayfish/controllable/mixin/client/MinecraftMixin.java
