# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

#VSCode
*.code-workspace

# gradle
build
.gradle

# other
eclipse
run
.vscode

# Files from Forge MDK
forge*changelog.txt
classes/
